{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navigationbar.html' %}
<style>
  .card {
    background-color: '#609966';
  }

  .card-title {
    font-family: 'Glorifydemo-BW3J3', sans-serif
  }

  .btn-primary {
    background-color: #9DC08B;
    color: #EDF1D6;
    border: 2px solid #40513B;
    border-radius: 5px;
    font-family: 'Glorifydemo-BW3J3', sans-serif
  }

  /* Styling saat tombol login dihover */
  .btn-primary:hover {
    background-color: #40513B;
    color: #EDF1D6;
  }
</style>

<div class="container">
  <h1 style="color: #609966; font-family: 'Glorifydemo-BW3J3', sans-serif; padding-top: 20px;">Your Favorites</h1>
  <div id="book_table"></div>
  <button type="button" class="btn btn-primary" id="mutton">Show Your Favorites</button>
</div>

<script>
  async function getFavorites() {
    return fetch("{% url 'appmain:get_favorites' %}").then((res) => res.json())
  }
  async function refreshBooks() {
    document.getElementById("book_table").innerHTML = ""
    const books = await getFavorites()
    let htmlString = ``
    books.forEach((item) => {
      if(item.pk%10==0){
        htmlString += `<div class="card-deck d-flex justify-content-center">`
      }
      htmlString += `
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">${item.fields.Title}</h5>
              </div>
            </div>`
      if(item.pk%5==0){
        htmlString += `
      </div><br>`
      }
    })

    document.getElementById("book_table").innerHTML = htmlString
  }

  document.getElementById("mutton").onclick = refreshBooks
  refreshBooks()

</script>
{% endblock content %}
